* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
}

:root { 
    --fuenteTitulos: 'Bebas Neue', sans-serif;
    --fuenteSubtitulo: 'Oswald', sans-serif;
    --fuenteBotones: 'Oswald', sans-serif;
    --fuenteTexto: 'Montserrat', sans-serif;
    --colorPrincipal: #FFFF;
    --colorSecundario: #000;
    --enlaces: #0000FF;
}