@import "/css/basic.css";

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    background-image: url(../imglanding/images.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

.contenedorIzquierda {
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    width: 100%;
    height: auto;
    padding: 20px;
    place-items: center;
    background-color: white;
}

.containerForm {
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 0.6fr 0.4fr;
    place-items: center;
}

.datosLogueo {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.otrasOpciones {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 5%;
}

.otrasOpciones a {
    color: var(--enlaces);
}

.iniciarSesion {
    width: 40%;
    height: auto;
    margin: 30px auto;
    padding: 10px 0;
    border-radius: 25px;
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
}


label {
    font-size: 1.5rem;
}

input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.7rem;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--colorSecundario);
    font-size: 0.75rem;
}
