* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 25px;
}

:root { 
    --fuenteTitulos: 'Bebas Neue', sans-serif;
    --fuenteSubtitulo: 'Oswald', sans-serif;
    --fuenteBotones: 'Oswald', sans-serif;
    --fuenteTexto: 'Montserrat', sans-serif;
    --colorPrincipal: #FFFF;
    --colorSecundario: #000;
}

body {
    background-image: url(../imglanding/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.901);
    background-blend-mode: darken;
    color: var(--colorPrincipal);
}

header {
    padding: 5% 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.superior, .inferior {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.superior {
    height: 40%;
}

h1 {
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    color:var(--colorPrincipal);
    letter-spacing: 3px;
}

.header__barranav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.header__barranav a {
    font-family: var(--fuenteSubtitulo);
    color: var(--colorPrincipal);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 400;
    padding: 3px 6px;
    transition: transform 0.3s ease;
}

.header__barranav a:hover {
    transform: scale(1.1);
}

.inferior {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuenteTexto);
    gap: 15%;
}

.inferior__parrafo {
    font-size: 1.5rem;
    text-align: center;
}

.botones {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton {
    width: 40%;
    padding: 10px 0;
    border-radius: 35px;
    border: solid;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--fuenteBotones);
    cursor: pointer;
}

.boton--registro {
    color: var(--colorPrincipal);
    background-color: var(--colorSecundario);
    border: solid var(--colorPrincipal);
}

main

.containerForm {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerForm__login {
    /* display: none; */
    width: 40%;
    height: auto;
}

fieldset {
    padding: 20px;
    border-radius: 10px;
    border: 3px solid;
    display: flex;
    flex-direction: column;
}

legend {
    text-align: center;
    padding: 0 5%;
}

.containerForm__login--register{
    display: none;
}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
        letter-spacing: -3px;
    } 

    h1::first-letter {
        font-size: 1.5cm;
    }

    .header__barranav {
        height: 0.8cm;
    }

    .header__barranav a {
        font-size: 15px;
        font-weight: 900;
        margin: 2px 0px;
    }

    .header__barranav--left a {
        margin-right: 10px;
    }

    .header__barranav--right {
        margin-right: 4px;
    }

    .header__barranav--right a {
        border-radius: 8px;
    }

}