* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --blanco : #FFFF;
    --bordes : #FFFFFF1A;
    --negro : #000;
}

body {
    margin: 10px;
    background-color: aliceblue;
    background-image: url(imglanding/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.901);
    background-blend-mode: darken;
}

h1 {
    font-size: 60px;
    letter-spacing: -5px;
    color: white;
}

h1::first-letter {
    font-size: 2cm;
    letter-spacing: -5px;
}

.header__barranav {
    height: 1.1cm;
    background-color: white;
    display: flex;   
    justify-content: space-between;
}

.header__barranav a {
    font-size: 20px;
    text-decoration: none;
    color: var(--negro);
    border-radius: 10px;
    margin: 3px 3px;
}

.header__barranav--left a {
    padding: 4px;
    display: inline-block;  
    margin-right: 20px;
    transition: transform 0.6s ease;    
}

.header__barranav--left a:hover {
    background-color: var(--negro);
    color: var(--blanco);
    transform: scale(1.1);
}

.header__barranav--right {
    color: var(--negro);
    margin-right: 10px;
}

.header__barranav--right a {
    display: inline-block;
    color: white;
    background-color: var(--negro);
    padding: 4px;
    transition: transform 0.6s ease;
}

.header__barranav--right a:hover {
    background-color: var(--blanco);
    color: var(--negro);
    transform: scale(1.1);
    border: 1px solid var(--negro);
}

main {
    margin: 1cm 0 1cm;
}

.nosotros {
    border: 2px solid var(--bordes) ;
    height: auto;
    width: 60%;
    border-radius: 10px;
    margin: 1cm auto 2cm; 
    padding: 10px;
    box-shadow: 0px 0px 15px 5px var(--bordes);
}

.nosotros__subtitles {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.nosotros__img {
    width: 310px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--blanco);
    display: block;
    margin: auto;
}

.nosotros__description {
    color: white;
    margin-top: 15px;
}

.containerforms {
    width: 40%;
    height: auto;
    margin: 0 auto ;
}


.container__login {
    margin: 0px 0px 0px 1cm;
    background-color: transparent;
    width: 100%;
    height: 90%;
}

.container--register {
    padding-top: 1cm;
}

.container__login,
.container--register {
    display: block;
    margin: 0 auto;
}

fieldset {
    color: var(--blanco);
    height: auto;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px var(--bordes);
    position: relative;
}

legend {
    text-align: center;
    padding: 0px 6px;
    font-size: 30px;
    letter-spacing: 3px;
}   

.container__items {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}


label {
    color: var(--blanco);
    display: block;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);
    font-size: 15px;
    padding: 0px 0px 4px 10px;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid var(--blanco);
}

.container__button {
    height: 50px;
    width: auto;
    color: var(--blanco);
    background-color: transparent;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    display: block;
    margin: 20px auto 10px auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.container__button:hover {
    transform: scale(1.1    );
}

.container__otrasopciones {
    text-align: center;
}

.container__redes {
    padding: 10px;
    text-align: center;
}

.container__redes button {
    border-radius: 50%;
    padding: 5px;
    margin: 0px 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.container__redes button:hover {
    background-color: transparent;
}

.social-icon {
    color: var(--negro);
    background-color: transparent;
    font-size: 40px;
    transition: background-color 0.4s linear;
}

.social-icon:hover {
    color: var(--blanco);
}

.tyc {
    margin-top: 0.5cm;
    width: auto;
    padding: 0 10px;
    position: relative;
    line-height: 1.2;
    white-space: nowrap;
}

.tyc label {
    font-size: 12px;
    margin-left: 13%;
}

.tyc a {
    color: cyan;
    cursor: pointer;
}

.tyc input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
    position: relative;
    top: -1px; 
    right: 40%;
    color: cyan;
}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
        letter-spacing: -3px;
    } 

    h1::first-letter {
        font-size: 1.5cm;
    }

    .header__barranav {
        height: 0.8cm;
    }

    .header__barranav a {
        font-size: 15px;
        font-weight: 900;
        margin: 2px 0px;
    }

    .header__barranav--left a {
        margin-right: 10px;
    }

    .header__barranav--right {
        margin-right: 4px;
    }

    .header__barranav--right a {
        border-radius: 8px;
    }

}